<% @user.following.each do |following| %>
    
  <div class="col-sm-4">
    <div class="card">
      <div class="card-block">
        <div class="user-block">
            <div class="profile">
                    <%= image_tag following.avatar.url(:thumb)%>
            </div>
            <div class="user-nav">
                  <h3><%= following.username%></h3>
                  <p>Strap that boot!</p>
                  <p>Posts: <%= following.posts.count%></p>
            </div>
        </div>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      
        <div>
            <span>
              <% if current_user_is_following(current_user.id, @user.id) %>
                <%= link_to 'Following', unfollow_user_path, remote: true, class: 'btn unfollow-button', id: 'unfollow-button', method: :post %>
              <% else %>
                <%= link_to 'Follow', follow_user_path, remote: true, class: 'btn follow-button', id: 'follow-button', method: :post %>
              <% end %>
            </span>
        </div>
    </div>
  </div>




<% end %>