<div class="row">
    <div class="col-11 col-offset-250">
        <span class="notice"><%= notice %></span>
        <span class="alert"><%= alert %></span>
        <% @posts.each do |post| %>
        <h2><%=link_to post.title, post_path(post) %></h2>
        <p class="post-posted-by">Posted <%= time_ago_in_words(post.created_at) %> ago by <%= link_to User.find(post.user_id).username, user_path(post.user_id) %> in <%= link_to Category.find(post.category_id).name, category_path(post.category_id) %> </p>
            <div class="post-nav">
                <a href="http://www.facebook.com/">Share</a>
                <a href="#">Save</a>
                <a href="#">Report</a>
                <span id="post_<%= post.id %>_likes"><%= render partial: "likes", locals: {post: post} %></span>
            </div>
        <% end %>
        </br>
        <%= link_to "New post", new_post_path %>
    </div>
    <div class="col-fixed-250">
        <%= render "/posts/left" %>
    </div>

</div>

